body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    text-align: center;
}

fieldset {
    border: 1px solid rgb(211,211,211);
    border-radius: 10px;
    width: 400px;
    margin: auto;
}

.button {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #efd086;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 4px;
    margin-left: 0px;
}
    .button:hover {
        background-color: #bf9934;
        color: black;
    }

.button1 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #e7e7e7;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 4px;
    }
    .button1:hover {
        background-color: #555555;
        color: white;
    }
